<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="syscache" type="NHibernate.Caches.SysCache.SysCacheSectionHandler,NHibernate.Caches.SysCache" />
  </configSections>
  <syscache>
    <cache region="ManagedFileRegion" expiration="5000"
           priority="5" />
  </syscache>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
