<configuration>
  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="consoleListener"
            type="System.Diagnostics.ConsoleTraceListener" />
        <add name="textListener" 
            type="System.Diagnostics.TextWriterTraceListener" 
            initializeData="Tracker.log" />
      </listeners>
    </trace>
    <switches>
      <add name="trackerLog" value="4"/>
    </switches>
  </system.diagnostics>
</configuration>
