<?xml version="1.0"?>
<fushareConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <serviceConfig>
    <serviceHandlers>
      <handler>
        <type>Fushare.Services.BrunetDht</type>
        <uri>http://localhost:64221/xd.rem</uri>
      </handler>
    </serviceHandlers>
  </serviceConfig>
</fushareConfig>
