<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BitTorrentManagerBaseDirPath" value="{GatorShareHomeDir}/var/gsserver/cache/bittorrent" />
  <add key="GSServerPort" value="{GSServerPort}" />
  <add key="DhtTrackerListeningPort" value="{DhtTrackerListeningPort}"/>
  <add key="HttpPieceInfoServerListeningPort" value="{HttpPieceInfoServerListeningPort}"/>
  <add key="BitTorrentManagerSelfNamespace" value="{BitTorrentManagerSelfNamespace}"/>
  <add key="BitTorrentManagerStartSeedingAtStartup" value="False"/>
  <add key="DhtTrackerIFace" value="{DhtTrackerIFace}"/>
  <add key="L4nConfigPath" value="{GatorShareHomeDir}/etc/gsserver/l4n.config"/>
  <add key="DictionaryService" value="BrunetDht"/>
  <add key="BrunetDhtServiceHost" value="127.0.0.1"/>
  <add key="BrunetDhtServicePort" value="10000"/>
  <add key="BrunetDhtServicePath" value="xm.rem"/>
</appSettings>
