<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BitTorrentManagerBaseDirPath" value="/opt/gatorrent/server/var/cache/bittorrent" />
  <add key="DhtTrackerListeningPort" value="23113"/>
  <add key="HttpPieceInfoServerListeningPort" value="23114"/>
  <add key="BitTorrentManagerSelfNamespace" value="{BitTorrentManagerSelfNamespace}"/>
  <add key="BitTorrentManagerStartSeedingAtStartup" value="true"/>
  <add key="DhtTrackerIFace" value="tapipop"/>
  <add key="L4nConfigPath" value="/opt/gatorrent/server/etc/l4n.config"/>
</appSettings>
