<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="log4net.Internal.Debug" value="true"/>
  </appSettings>
  <configSections>
    <section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
  </configSections>
  <log4net>
    <root>
      <level value="DEBUG" />
      <!--<appender-ref ref="ConsoleAppender" />-->
      <appender-ref ref="RollingLogFileAppender" />
    </root>

    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="/opt/gatorrent/server/var/log/log.%utcdate{dd-MMM-yyyy-HH:mm:ss}.txt" />
      <rollingStyle value="Once" />
      <maxSizeRollBackups value="-1" />
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch>Fushare.XmlRpcTracer</loggerToMatch>
        <acceptOnMatch>false</acceptOnMatch>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <!--reference: <http://logging.apache.org/log4net/release/sdk/log4net.Layout.PatternLayout.html>-->
        <conversionPattern value="%date %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender" >
      <filter type="log4net.Filter.LoggerMatchFilter">
        <loggerToMatch>Fushare.XmlRpcTracer</loggerToMatch>
        <acceptOnMatch>false</acceptOnMatch>
      </filter>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%date %-5level %logger{1} - %message%newline" />
      </layout>
    </appender>
  </log4net>
</configuration>
