<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="BitTorrentManagerBaseDirPath" value="{GatorShareHomeDir}/server/var/cache/bittorrent" />
  <add key="GSServerPort" value="{GSServerPort}" />
  <add key="DhtTrackerListeningPort" value="{DhtTrackerListeningPort}"/>
  <add key="HttpPieceInfoServerListeningPort" value="{HttpPieceInfoServerListeningPort}"/>
  <add key="BitTorrentManagerSelfNamespace" value="{BitTorrentManagerSelfNamespace}"/>
  <add key="BitTorrentManagerStartSeedingAtStartup" value="False"/>
  <add key="DhtTrackerIFace" value="{DhtTrackerIFace}"/>
  <add key="L4nConfigPath" value="{GatorShareHomeDir}/server/etc/l4n.config"/>
</appSettings>
