<?xml version="1.0" encoding="utf-8"?>
<NodeConfig xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <BrunetNamespace>{BrunetNamespace}</BrunetNamespace>
  {RemoteTAs}
  <EdgeListeners>
    <EdgeListener type="tcp">
      <port>{EdgeListenerPort}</port>
    </EdgeListener>
    <EdgeListener type="udp">
      <port>{EdgeListenerPort}</port>
    </EdgeListener>
  </EdgeListeners>
  <DevicesToBind />
  <NCService>
    <Enabled>true</Enabled>
    <OptimizeShortcuts>true</OptimizeShortcuts>
    <Checkpointing>false</Checkpointing>
  </NCService>
  <PrivateNodeConfig>
    <BrunetNamespace />
    <Security>
      <Dtls>false</Dtls>
      <Enabled>false</Enabled>
      <SecureEdges>false</SecureEdges>
      <TestEnable>false</TestEnable>
      <SelfSignedCertificates>false</SelfSignedCertificates>
      <KeyPath>private_key</KeyPath>
      <CertificatePath>certificates</CertificatePath>
    </Security>
    <Enabled>false</Enabled>
  </PrivateNodeConfig>
  <XmlRpcManager>
    <Enabled>true</Enabled>
    <Port>10000</Port>
  </XmlRpcManager>
  <Security>
    <Dtls>false</Dtls>
    <Enabled>false</Enabled>
    <SecureEdges>false</SecureEdges>
    <TestEnable>false</TestEnable>
    <SelfSignedCertificates>false</SelfSignedCertificates>
    <KeyPath>private_key</KeyPath>
    <CertificatePath>certificates</CertificatePath>
  </Security>
  <XmppServices>
    <Enabled>false</Enabled>
    <Port>0</Port>
  </XmppServices>
</NodeConfig>
